fieldset{
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    width: max-content;
    height: max-content;
    margin: 100px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:rgb(237, 234, 235) ;
    border-radius: .6em;
}
input[type="text"] {
   
   margin: 10px;
    box-sizing: border-box;
    border-radius: .4em;
    height:40px 
    
}
input[type=email] {
    width: 96%;
    margin: 10px ;
    box-sizing: border-box;
    border-radius: .4em;
    height: 40px;
    
}


input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:#1cad87;
    color: white;
    border: none;
    margin: 10px 0; 
    cursor: pointer;
    border-radius: .5em;
    height: 30px;
}
input[type="submit"]:hover {
    background-color: #e3908b;
}
input[type="password"] {
    width: 96%;
    margin: 10px ;
    box-sizing: border-box;
    border-radius: .4em;
    display: flex;
    height: 40px;
    
}
#login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
}
#contact{
    width: 50%;
    display: flex;
}

input[type="tel"] {
    margin: 10px;
    box-sizing: border-box;
    border-radius: .4em;
    display: flex;
    height: 40px;
    width: 50%;
}
textarea{
    margin: 10px;
    box-sizing: border-box;
    border-radius: .4em;
    display: flex;
    height: 50px;
    width: 60%;
}

    