
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

.parent{
  min-height: 100vh;
  min-width: 100vw;
  /* background-color: #111; */
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  height: 300px;
  width: 270px;
  background-color: #fff;
  border-radius: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 42px;
  width: 42px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 3px;
  object-fit: cover;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
}


.center{
}

.center h3{
  font-size: 20px;
  font-weight: 600;
}
.center h3 span{
  font-size: 12px;
  font-weight: 400;
  color: #aeaeae;
}

.center h2{
  font-size: 21px;
  font-weight: 600;

}
.center .tag{
  display: flex;
  margin-top: 10px;
  
  gap: 5px;
}
.center .tag h4{
  font-size:11px;
  background-color: #e4e4e4;
  color: #202020;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 3px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7ce;
  padding-top: 15px;
}

.bottom button{
  background-color: rgb(18, 18, 18);
  color: white;
  padding: 7px 16px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  column-width: 600;
}

.bottom h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}
