body{

    /* background: #e7d5d5; */
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
      font-family: Arial, sans-serif;

      color: whitesmoke;

}
.parent{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    gap:20px;
    padding: 20px;
    flex-wrap: wrap;
}
.card{
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    width: 300px;
    height: max-content;
    margin: 20px;
    border: 2px solid rebeccapurple;
  
}
.card img{
   width: 100%;
   height: 180px;
   width: 180px;
    border-radius:20%;
    padding: 0px;
    margin-bottom: 0px;
    object-fit: cover;
}
.card h2{
    margin: 5px 0;
    font-size: 24px;
}
.card p{
    color: #666;
    font-size: 16px;
    margin: 5px
}   
button{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}