* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

/* Navbar */
.nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background: white;
  border: 3px solid  seashell;
}

.nav-links {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.nav-links a {
  text-decoration: none;
  color: rgb(19, 19, 19);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 400;
}

/* Correct hover */
.nav-links a:hover {
  color: crimson;
}

/* Layout */
.layout {
  display: flex;
  height: calc(100% - 90px);
}

/* Sidebar */
.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
  gap: 30px;
  background: #ba6c6c;
}

/* Main content */
main {
  width: 100%;
  background: rgb(203, 229, 246);

  display: flex;
}

/* Buttons */
button {
  padding: 8px;
  border: none;
  border-radius: 10px;
  font-size: 1.1vw;
  background: crimson;
  color: whitesmoke;
  cursor: pointer;
  width: 50%;
}
.left-content{
  width: 50%;
 
  position: relative;
}
.right-content
{
  
  width: 50%;
}
.login {
  background: #dfeef4;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;

  position: absolute;
  top: 200px;
  left: 200px;

  display: none; /* hidden initially */
  flex-direction: column;
  align-items: center;
}

form{
  
  padding: 10px;
  display: flex;
  flex-direction: column;
align-items: center;
}
input[type="text"]{
  height: vh;
  border-radius: 10px;
border: none;
padding: 10px;
margin: 5px;
width: 200px;
}


input[type="tel"]{
  height: 5vh;
  border-radius: 10px;
border: none;
padding: 10px;
margin: 5px;
width: 200px;
}

input[type="email"]{
  height: 5vh;
  border-radius: 10px;
border: none;
padding: 10px;
width: 200px;
margin: 5px;
}
textarea{
  width: 300px;
  border-radius: 10px;
}
.contact{
  position: absolute;
  top: 150px;
  left: 200px;
}
footer{
  width: 100%;
  height: 100px;
  background: #838282;
}

@media (max-width:650px){
  .nav{
    padding: 40px;
  }
  .logo h1{
    font-size: 4vw;
    color: crimson;
  }
  .nav-links a{
    font-size:  0px 16px;
    display: none;
  }

}
