
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }


.navbar{
    background-color: rgb(215, 167, 167);
    padding: 10px 10px 10px 48px;
    display: flex;
    ;
   
}
.navbar i{
    color: rgb(101, 94, 94);
    font-size: 14px;
}
.contact{
    gap: 20px;
}
.navbar span{
    font-size: 14px;
     color: rgb(101, 94, 94);
     margin:0px 10px 50px 10px
}

.navbar2{
    background-color: rgb(215, 167, 167);
    padding: 10px 10px 10px 20px;
    display: flex;
}
.social{
    display: flex;
    gap: 40px;
    margin-left: 600px;
      
}
.social i{
    font-size: 18px;
    color: rgb(61, 59, 59);
      
}
.social i:hover{
    color: rgb(103, 4, 7);
}
.header{
    background-color: white;
    padding:5px 20px;
    display: flex;
    max-height: 80px;
    gap: 30px;
}
.header h1{
    color: rgb(227, 105, 105);
    position: relative;
    left: 60px;

    
}

 .header a{

    text-decoration: none;
    font-size: 20px;
    color: rgb(16, 16, 16);
    margin-left: 60px;
    font-weight: bolder;
    padding-top: 25px;
    position: relative;
    left: 200px;

}
a:hover{
    color: rgb(207, 49, 49);
}

  .header button{
    color: rgb(31, 30, 30);
    background-color: rgb(215, 9, 9);
   position: fixed;
   top: 60px;
   right: 30px;
    height: 40px;
    width: 70px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
}
 button:hover{
    background-color: cornflowerblue;
}
.main{
    margin-top: 0px;
    padding: 0px;
    background-color: black;
}
.hero {
  position: relative;
  background-image: url('/images/bg.png'); /* Replace with actual path */
  background-size: cover;
  background-position: center;
  top: 0px;
  height: 729px;
  color: white;
}
.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* black with 50% opacity */
  /* Optional blur effect on background */
  backdrop-filter: blur(2px); /* Requires semi-transparency and browser support */
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  top: 20%;
}
.content button{
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 1px solid white;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    border-radius: 3px;
}
.content button:hover{
    background-color: white;
    color: black;
}
.content h1{
    font-family: 'ABeeZee';font-size: 80px;
}
.whatsapp {
    height: 60px;
  width: 60px;
  background-color: #25D366;
  border-radius: 50%;
  position: fixed;
  bottom: 200px;
  right: 30px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);       /* 20% from the left of the viewport */
}
.whatsapp i{
    font-size: 30px;
}
.main2{
    background-color: rgb(190, 194, 200);
    padding: 10px;
    position: relative;
   
}
 .main span{
    background-color: rgb(168, 131, 131);
    color: rgb(185, 21, 21);
    font-size: 20px;
    border: 2px solid rgb(129, 128, 126);
    height: 50px;
    width: 150px;
    padding: 10px;
    position: absolute;
    left:650px;
    top: 20%;
    text-align: center;
}
.main2 h1{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family: poppines sans-serif;
    margin-top:300px;
}
.about {
    height: 500px;
    width: 450px;
    margin-left: 100px ;
    margin-top: 100px;

}
.dis span{
    display: block;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    position: relative;
    top: -450px;
    left: 600px;
}
.dis p{
    position: relative;
     top: -450px;
    left: 600px;
    border-left: 2px solid palevioletred;
    padding-left: 10px
;
}
.box1{
    background-color: rgb(165, 86, 86);
    height: 140px;
    width: 250px;
    margin-top: 10px;
    position: absolute;
    top: 800px;
    left: 600px;
    text-align: center;
}
.box1 p{
    font-size: 60px;
    color: azure;
    font-weight: bolder;
    margin-top: 10px;
}
.box1 b{
    margin-top: -500;
    color: rgb(218, 27, 27);
    object-fit: cover;
}

.box2{
   background-color: rgb(165, 86, 86);
    height: 140px;
    width: 250px;
    position: absolute;
     top: 812px;
    left: 900px;
}
