*{
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
}


	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

    .header1 {
        background-color: #090909;
        padding: 5px;
        text-align: center;
        color: whitesmoke;
        font-weight: lighter;
        font-size: small;
    }
    .header2 {
        background-color:whitesmoke;
        padding: 0px;
        text-align: center;
        color: whitesmoke;
        display: flex;
        height: 63px;
        border: 3px solid #090909;

      
    }
     .logo img{
        height: 60px;
        width: 80px;
        margin-left: 50px;
    }
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0.80;
        gap: 30px;
    }
    nav a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 580;  /* for bold effect like your image */
       text-transform: uppercase; /* if needed */
       letter-spacing: 0.5px;
       color: black;
       font-size: 14px;

    }
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0.20;
        gap: 25px;
        
    }
    i{
        color: #000;
        font-weight: 600;
        font-size: 18px;
    }
    i:hover {
        color: #e76a30;
        transform: scale(1.5);
    }
   .bg-image {
    height: 400px;
    width: 100%;
    background-image: url("/images/badminton-main-banner.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }
.sider{
    display: flex;
    background-color:whitesmoke;
    margin-top: 30px;
    height: 185px;
    justify-content: space-evenly;
    padding: 20px;
}
.box1{
    height: 130px;
    width: 142px;
    /* background-color: rgb(15, 124, 221); */
    display: inline-block;
text-align: center;
font-weight: bolder;
color: #090909;
}
 .box1 img{
    width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
 }
 .img-container{
    background-color: whitesmoke;
    display: flex;
justify-content:center;
/* margin-top: 40px; */
padding: 20px;
gap: 20px;
align-items: center;

 }
 .section img{
    height:300px;
    width:500px;
   margin-left: 20px;
 }
 .section{
    margin-top: 40px;

 }
 .img-cont2{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 20px;
    text-align: center;
    gap: 50PX;
    margin-bottom: 40px;
 }
 .img1{
    height: 300px;
    width: 260px;
    
 }
 .img1 img{
        width: 100%;
  height: 70%;
  object-fit: cover;
 }
 .img1 img:hover{
    transform: scaleX(-1);
 }
 .img-poster {
    width: 100%;
    height: 400px; /* or use 100% depending on the parent */
    background-image: url(/images/Basketball-genric-banner.webp);
    background-size: cover;
    /* background-position: center; */
  margin: 50px;
  padding: 50px;
    background-repeat: no-repeat; 
}
.lookbook{
    display: flex;
    gap: 30px;
    
    padding: 30px;
    padding-left: 20px;
    justify-content: center;
}
.lookbook1{
    height: 450px ;
    background: whitesmoke;
    background-image: url(/images/600_X_420.webp);
    background-size: cover;
    width: 700px;
    border-radius: 5px;
}
.lookbook2{
    height: 450px ;
    background: whitesmoke;
    width: 700px;
    padding: 0px 0px 20px 0px;
    border-radius: 5px;
    
    
    
}
.image1, .image2 {
   height: 200px;
   width: 700px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   
}

.image1 {
   /* border: 3px solid red; */
   margin-bottom: 20px;
   background-image: url(/images/2_e25f9f97-626d-43d3-a072-21c1240e36c1.webp);
   border-radius: 5px;
}

.image2 {
   /* border: 3px solid rgb(59, 17, 245); */
   margin-top: 20px;
   background-image: url(/images/3_ffbe7b81-f755-4483-88c9-7fdec095d817.webp);
   border-radius: 5px;
   
}
.blogs{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 10px;
    gap: 60px;
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    
}
.blog1{
    height: 500px;
    width: 410px;
    background-color: white;
    border-radius: 5px;
    
}
.blog1 img{
    width: 410px;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;

}
.blog1 p,a{
    margin-left: 10px;
    color: grey;
    text-decoration: none;
}

.footer{
      background-color: #000;
      /* height: 400px; */
      display: flex;
    }
    .footer1{
      background-color:#000;
      
      padding: 20px;
      color: whitesmoke;
      display: block;

    }
    input[type="email"]{
      height: 30px;
      background-color: #423f3f;
      border: none;
      color:whitesmoke;
      border-bottom: 2px solid white;
    }
    input[type="submit"]{
      height: 30px;
      background-color: #f01010;
      border: none;
      color:whitesmoke
    }
    .contact{
      display: flex;
    gap: 20px;
    margin-top: 20px;

    }
    .contact i{
      font-size: 30px;
      color: white;
      /* background-color:white; */
      border-radius: 50%;
      
    }
    .contact i:hover{
      /* background-color: #000; */
      color: rgb(249, 243, 243);
        transform: scale(1.5);
    }
    .footer1 i{
color: aliceblue;
padding: 10px;
    }
    .footer2{
      background-color:#000;
      padding: 20px;
      color: whitesmoke;
      display: flex
    }
    .footer2 img{
      height: 57px;
      width: 90px;
      margin-left: 50px;
    }

  .line {
  margin: 0px;
  /* margin-left: 50px */
  height: 3px;
  width: 100%;
  background-color: #f01010;
  color: red;
  border: none; /* Important to remove default border */
}
.footer2 p{
  margin-left: 1000px;
}