
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.navbar nav{
  background-color:white;
 display: flex;
 flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 0 15px;
  cursor: pointer;
  text-align: center;
  gap: 50px;
  border: 3px solid whitesmoke;
  border-radius: 20px;
 
}
.navbar img{
  background-color: transparent;
  height: 85px;
  width: 130px;
  margin-left: 40px;
  object-fit: cover;

}
.flight{
display: block;
}
span{
  display: block;
    margin: 0;
  font-size: 14px;
  line-height: 1.2;
  color: #5a1a1a; /* change to your theme color */
  font-weight: 500;
}
i{
  font-size: 20px;
color: brown;
margin-top: 20px;
}
i:hover{
  color: rgb(31, 27, 27);
}
span:hover{
  border: underline;
  color:darkorange
}
.cont2{
  display: flex;
  justify-content: center;
}
.box1{
  background-color: rgb(240, 234, 234);
  padding: 10px;
  position: relative;
  left: 230px;
  top: 50px;
  border-radius: 10px;
  z-index: 1;
  display: flex;
  gap: 80px;
  justify-content: center;
  height: 90px;
}
.box1 i{
  color: rgb(99, 96, 96);
  font-size: 25px;
}
.box1 i:hover{
  color: orangered;
}
.main{
  background-color: #e1caca;
  height: 400px;
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 100px;
  z-index: 0;
  border-radius:10px ;
}
.trip-options{
display: flex;
flex-direction: row;
margin-top: 80px;
margin-left: 40px;
}


.trip-options input[type="radio"] {
  display: none;
  
}

.trip-options label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 25px;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
  transition: 0. ease;
  color: black;
}

.trip-options label::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: white;
  
}

.trip-options input[type="radio"]:checked + label {
  background-color: #e6f2ff; /* light blue */
  color: black;
  height: 40px;
}

.trip-options input[type="radio"]:checked + label::before {
  background-color: #007bff; /* blue */
  border: none;
  content: "✔";
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 16px;
}

button{
  height: 50px;
  width: 250px;
  background-color: #007bff;
  border: 2px solid wheat;
  border-radius: 50px;
  color:black;
  position: absolute;
  z-index: 3;
  font-size: 20px;
  top: 550px;
  left: 600px;
}
button:hover{
  background-color:rgb(123, 73, 73);
  color: #ccc;
}

.main2{
  background-color: #007bff;
  z-index: 5;
  padding: 50px;
  position: absolute;
  left: 150px;
  top: 340px;
  border-radius: 10px;
}
select{
  height: 100px;
  width: 350px;
  border-radius: 5px;
  display: ;
}