*{
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}

.row {
  display: flex;
  flex-wrap: wrap;
}


	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

    .container{
        background-color: rgb(108, 158, 176);
       margin: 20px auto;
       padding:  10px 80px 20px 80px;
       height: max-content;
       border-radius: 5px;
    }
    .header{
        background-color: aliceblue;
        height: max-content;
        display: flex;
        padding: 20px;
        margin-bottom: 20px;
        max-height: 150px;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .box1{
        display: block;
/* background: #c14f4f; */
margin-left: 20PX;
padding: 10px;
    }
    
    .box2{
        display: block;
/* background: #c14f4f; */
margin-left: 20PX;
padding-left: 10px;
padding-top: 40px;

    }
    .box3{
        display: block;
/* background: #c14f4f; */
margin-left: 500px;
padding-left: 10px;
padding-top: 50px;
    }
    
.form{
    background-color: aliceblue;
    height: max-content
}
form{
    padding: 10px 10px 0px 10px;
}
input[type="text"],
input[type="email"],
input[type="tel"]
 {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px;
}
textarea{
    border-radius:4px ;
    margin-left: 10px;
    
}
button{
    height: 35px;
    width: 60px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 5px;
    border: none;
    background: #c52727;
    text-align: center;
    color: aliceblue;
}
.map{
    
    height: 300px;
}

iframe{
    height: 310px;
    width: 550px;

}
.cont2{
    background-color: aliceblue;
    display: flex;
    padding: 20px;

}
 
.icon{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
padding-left: 200px;
padding-top: 10px;
padding-bottom: 10PX;


}
.icon i{
    margin-left: 20px;
    font-size: 30px;
}
 .icon-space {
        margin-right: 8px;
    }
    pre{
        font-size: 16px;
    }
    