body{
  display: flex;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  padding: 10px  20px;
  color: crimson;
  margin: 10px;
}
h1{
  background-color: rgb(175, 175, 175);
  color: whitesmoke;
  padding:  70px;
text-align: center;
}