body{
  background-color: rgb(254, 251, 251);
  display: flex;
}
img{
  height: 300px;
  width: 100%;
  object-fit: cover;

}
.card{
 height: max-content;
 width: max-content;
}
.card-body{
  background:darkgray;
}