body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 body {
      background: #f2f2f2;
    }

    .card {
      border-radius: 12px;
    }

    .table thead {
      background: #6f42c1;
      color: white;
    }

    .btn-purple {
      background: #6f42c1;
      color: white;
    }

    .btn-purple:hover {
      background: #59339d;
      color: white;
    }

    tbody tr:nth-child(even) {
      background: #f1ddee;
    }